<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ site.title }}</title>
        <link rel="stylesheet" type="text/css" href="{{site.realBaseUrl}}css/main.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        {% include analytics.html %}
    </head>
    <body>
        <div class="container">
            {% include mainmenu.html %}
            <div class="edit-controls" style="position: absolute; right: 10px;z-index:100; display:none">
                <a href="#" id="save" style="margin-right:20px;"><i class="far fa-save"></i></a>
                <a href="#" id="edit"><i class="fas fa-edit"></i></a>
            </div>
            {{content}}
        </div>

        {% include mainscripts.html asPost=page.asPost useDataSets=page.useDataSets %}
    </body>
</html>
